 body {
 	padding-top: 70px;
 	padding-bottom: 70px;
 }

 .thumbnail {
 	height: 644px;
 	min-width: 273px;
 }

 .thumbnail .caption {
 	padding: 0px 0px;
 }

 .thumb-image {
 	display: block;
 	height: 400px;
 	background-repeat: no-repeat;
 	background-position: center center;
 	background-size: cover;
 }

 .thumb-body {
 	padding: 0px 9px;
 	height: 160px;
 	overflow: auto;
 }

 .thumb-footer {
 	padding: 0px 9px;
 	position:absolute;
 	bottom:30px;
 	line-height: 1;
 }

 .modal{
 	display:block;
 }

 .modal-dialog {
 	position: absolute;
 	width: 110px;
	margin: 50px auto;
	left: 0;
	right: 0;
	z-index: 1000;
 }

.modal-dialog-bottom {
	bottom: 50px;
}
