 body {
 	padding-top: 60px;
 	overflow-x:hidden;
  width:100%;
  height: 100%;
 }

html{height:100%;}

.mycontainer {
   width:100%;
   height:100%;
}

.container-query {
  margin-top: -17px;
}
.fullheight{
  height:100%;
}

.thumbnailtoggle{
  margin-top: 22px;
  margin-right: 20px;
}

.menubtn{
  position: absolute;
  top:20px;
  left:13px;
}

@media screen and (max-width: 1200px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -250px;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -250px;
  }
  .row-offcanvas-right.active {
    right: 250px;
  }
  .row-offcanvas-left.active {
    left: 250px;
    padding-right: 50px;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 260px;
   
  }
  #sidebar {
    padding-top:0;
  }
}

@media screen and (min-width: 400px) {
  #thumbnail-fallback {
    display:none;
  }  
}

@media screen and (max-width: 400px) {
  .thumbnailtoggle {
    display:none;
  }  
}

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -80%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -80%;
  }
  .row-offcanvas-left.active {
    left: 80%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 80%;
    padding-left: 40px;

  }
  #sidebar {
    padding-top:0;
  }

.menubtn{
  display:none;
}
}

@media screen and (min-width: 1200px) {
  .menubtn{
      display:none;
    }
}


 #sidebar {
    background-color:#eee;
	overflow:hidden;
}

#sidebar table {
  width: 100%;

}

#sidebar table tr td{
  padding:1px 2px;
  vertical-align: top;

}

#sidebar table tr td label{
  display: inline;
  word-wrap:break-word;
}
#sidebar table tr td a .glyphicon {
  top:3px;
}


 .orange{
 	color:#dd4814;
 }

 .white {
  color: #fff;
}

 .thumbnail {
 	height: 570px;
 	min-width: 273px;
 }

 .thumbnail h4{
  margin-bottom: 5px;
}

.thumbnail p {
    margin: 0 0 4px;
}

.thumbnail-small {
  height: 190px;
  width: 140px;
  min-width: 0;
}

 .thumbnail-frontpage{
 	height: 450px;
 	cursor:pointer;
 }

 .thumbnail .caption {
 	padding: 0px 0px;
 }
 .thumb-image-container {
  display: block;
  height: 400px;
  overflow: hidden;
 }

 .thumbnail-small  .thumb-image-container {
  display: block;
  height: 140px;
  overflow: hidden;
  width: 140px;
 }

 .thumb-image {
  height: 400px;
  display: block;
 	background-repeat: no-repeat;
 	background-position: center center;
 	background-size: cover;
 }

.thumbnail-small .thumb-image {
    height: 135px;
    width: 135px;
}

 .thumb-body {
 	padding: 0px 9px;
 	height: 120px;
 	overflow-x: hidden;
  overflow-y: auto; 
 }

 .thumbnail-small .thumb-body {
    height: 42px;
    overflow: hidden;
 }

 .thumb-footer {
 	padding: 10px 9px;
 }

 .thumb-footer p {
    height: 1.4em;
    overflow: hidden;
 }

 .modal{
 	display:block;
 }

 .modal-dialog {
 	position: absolute;
 	width: 110px;
 	margin: 50px auto;
 	left: 0;
 	right: 0;
 	z-index: 1000;
 }

 .modal-dialog-bottom {
 	bottom: 50px;
 }

 /* override the default slider color, with colors to match our style. */
 .ngrs-range-slider .ngrs-join {
 	background-color: #dd4814;
 	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #E28666), color-stop(100%, #dd4814));
 	background-image: -webkit-linear-gradient(#E28666, #dd4814);
 	background-image: -moz-linear-gradient(#E28666, #dd4814);
 	background-image: -o-linear-gradient(#E28666, #dd4814);
 	background-image: linear-gradient(#E28666, #dd4814);
 }

.alert-dismissible {
 	padding-right: 35px;
 }


.graycolor{
  background-color: rgb(219, 219, 219);
}

.detail-side-bar{
  padding-bottom: 50px;
  height: 100%;
  overflow-x: auto;
}
.badge-carousel{
  font-size: 10px;
}

@media screen and (min-width: 992px) {
 .detail-side-bar{
  height: 100%;
  padding-bottom:0;
 }
 .badge-carousel{
  font-size: 12px;
  }
}

 .carousel-control.right{
  background-image: linear-gradient(to right, rgba(0,0,0,0.0001) 0, rgba(0,0,0,0.05) 100%);
 }
 .carousel-control.left{
  background-image: linear-gradient(to right, rgba(0,0,0,0.0001) 0, rgba(0,0,0,0.05) 100%);
 }
