 body {
 	padding-top: 70px;
 	padding-bottom: 70px;
 	overflow-x:hidden;
  width:100%;
 }

.mycontainer {
  overflow-x:hidden;
  width:100%;
}

.hometable{
	width: 100%;
}

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -80%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -80%;
  }
  .row-offcanvas-right.active {
    right: 80%;
  }
  .row-offcanvas-left.active {
    left: 80%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 80%;
    padding-left: 40px;

  }
  #sidebar {
    padding-top:0;
  }
}

 #sidebar {
    background-color:#eee;
	overflow:hidden;
}

 .orange{
 	color:#dd4814;
 }

 .white {
  color: #fff;
}

 .thumbnail {
 	height: 644px;
 	min-width: 273px;
 }

 .thumbnail-frontpage{
 	height: 450px;
 	cursor:pointer;
 }

 .thumbnail .caption {
 	padding: 0px 0px;
 }

 .thumb-image {
 	display: block;
 	height: 400px;
 	background-repeat: no-repeat;
 	background-position: center center;
 	background-size: cover;
 }

 .thumb-body {
 	padding: 0px 9px;
 	height: 160px;
 	overflow: auto;
 }

 .thumb-footer {
 	padding: 0px 9px;
 	position:absolute;
 	bottom:30px;
 	line-height: 1;
 }

 .modal{
 	display:block;
 }

 .modal-dialog {
 	position: absolute;
 	width: 110px;
 	margin: 50px auto;
 	left: 0;
 	right: 0;
 	z-index: 1000;
 }

 .modal-dialog-bottom {
 	bottom: 50px;
 }

 /* override the default slider color, with colors to match our style. */
 .ngrs-range-slider .ngrs-join {
 	background-color: #dd4814;
 	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #E28666), color-stop(100%, #dd4814));
 	background-image: -webkit-linear-gradient(#E28666, #dd4814);
 	background-image: -moz-linear-gradient(#E28666, #dd4814);
 	background-image: -o-linear-gradient(#E28666, #dd4814);
 	background-image: linear-gradient(#E28666, #dd4814);
 }

 .alert-dismissible {
 	padding-right: 35px;
 }

