  <!--include the navbar-->
  <div ng-include="'app/partials/nav.html'"></div>
  
  <!--include the bootstrap modal for alerts  -->
  <div ng-include="'app/partials/error.html'"></div>

  <div class="container-fluid">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 ">
      <h1>Open Cultuur Data Search</h1>
      <p>Open Cultuur Data search is a search engine used to search through all the data in the Open Cultuur Data API. Open Cultuur Data Search is a single page application(<a href="http://en.wikipedia.org/wiki/Single-page_application">SPA</a>) using the front-end <a href="https://angularjs.org/">Angular</a> framework. Open Cultuur Data Search relies on <a href="http://getbootstrap.com/">Bootstrap <a/> for the interface componenents and the responsiveness. </p>
      <h4>more information</h4>
      <ul>
        <li>Sourcecode and issue tracker on <a href="https://github.com/TMeerhof/ocd-search" >Github</a></li>
      </ul>


      <h3>Open Cultuur Data</h3>

      <p><a href="http://www.opencultuurdata.nl/english/">Open Cultuur Data</a> (Open Culture Data) is a network of cultural professionals, developers, designers, copyright specialists and open data experts, that opens data from the cultural heritage sector and encourages the development of valuable cultural applications that started in September 2011. This makes culture accessible in new ways to a broader public.</p>
      <p>The network has been awarded in 2012 with the European Public Sector Information Platform <a href="http://epsiplatform.eu/content/epsi-trailblazers-candidates">Trailblazer</a> award as an initiative which has done something new and exciting with open data in Europe over the past year.</p>  
      
      <h3>Open Culture Data API</h3>
      On the 25th. of May 2014 the Open Culture Data API was <a href="http://www.opencultuurdata.nl/2014/05/cultuur-community-api-launch/">launched</a>. This API offers an infrastructure to collect, search and re-use combined open culture datasets of Dutch cultural heritage organisations.
      <p>The Open Cultuur Data API is based on an <a href="http://www.elasticsearch.org/">Elasticsearch</a> engine. This <a href="https://en.wikipedia.org/wiki/Open_source">open source </a>technology is used to centrally store the datasets and to make all the data searchable in a universal manner. An <em><a href="https://en.wikipedia.org/wiki/Extract,_transform,_load">extract, transform, load</a></em> system is used, through which all the different datasets are harvested (the original data always remains available in the API), adjusted, (to support the universal searchability) and eventually saved.</p>
      <h4>more information</h4>
      <ul>
        <li><a href="http://www.opencultuurdata.nl/api-english/">Open Cultuur Data Website</a></li>
        <li><a href="http://docs.opencultuurdata.nl/">Docs</a></li>
        <li>Sourcecode and issue tracker on <a href="https://github.com/openstate/open-cultuur-data" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://github.com']);">Github</a></li>
      </ul>
      
      <h3>Who?</h3>
      <p>Open Cultuur Data is a joint initiative of <a href="http://www.kennisland.nl" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.kennisland.nl']);">Kennisland</a>, <a href="http://openstate.eu" >Open State Foundation</a> and the <a href="http://www.beeldengeluid.nl/en" >Netherlands Institute for Sound and Vision</a>. The initiative received financial support in the past of <a href="http://beeldenvoordetoekomst.nl/en" >Images for the Future</a> and <a href="http://creativecommons.nl/" >Creative Commons Netherlands</a>. The Open Cultuur Data Challengers program is financially supported by the Dutch <a href="http://www.rijksoverheid.nl/ministeries/ocw" >Ministry of Education, Culture and Science</a>.<em></em></p>
    </div>

  </div>
</div>