  <!--include the navbar-->
  <div ng-include="'app/partials/nav.html'"></div>
  
  <!--include the bootstrap modal for alerts  -->
  <div ng-include="'app/partials/error.html'"></div>

  <div class="container-fluid">

    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 ">
      <a href="https://openstate.eu/" target="_blank"><img src="app/img/OPEN-STATE-logo-CMYK-blue.png" class="pull-right" style="width:110px; height:62px"></img></a>
      <h1>Open Archaeology Data Search</h1>
      
      <p>Open Archaeology Data search is a search engine build by the <a href="https://openstate.eu/" target="_blank">Open State Foundation</a> to search through all the data in the Open Archaeology Data API. Open Archaeology Data Search is a single page application (<a href="http://en.wikipedia.org/wiki/Single-page_application" target="_blank">SPA</a>) using the front-end <a href="https://angularjs.org/" target="_blank">Angular</a> framework. Open Archaeology Data Search relies on <a href="http://getbootstrap.com/" target="_blank">Bootstrap <a/> for the interface components and the responsiveness.</p>
      <h4>more information</h4>
      <ul>
        <li>Source code and issue tracker for OAD Search is on <a href="https://github.com/openstate/oad-search" target="_blank">GitHub</a></li>
      </ul>

      <h3>Open Archaeology Data</h3>
      <p>Open Archaeology Data was developed as a part of the <a href="http://www.tandemforculture.org/collaborations/virtual-reality-and-open-data-to-share-cultural-heritage/" target="_blank">Tandem Europe Cultural Managers Exchange Programme</a> in a collaboration by the <a href="https://openstate.eu/" target="_blank">Open State Foundation</a> in the Netherlands and <a href="http://www.virtutim.eu/" target="_blank">Virtutim</a> in Italy.</p>
      
      <h3>Open Archaeology Data API</h3>
      The Open Archaeology Data API was launched in 2017. This API offers an infrastructure to collect, search and re-use combined open archaeological datasets of European archaeological organisations.
      <p>The Open Archaeology Data API is based on an <a href="http://www.elasticsearch.org/" target="_blank">Elasticsearch</a> search engine. This <a href="https://en.wikipedia.org/wiki/Open_source" target="_blank">open source </a>technology is used to centrally store the datasets and to make all the data searchable in a universal manner. An <em><a href="https://en.wikipedia.org/wiki/Extract,_transform,_load" target="_blank">extract, transform, load</a></em> system is used, through which all the different datasets are harvested (the original data always remains available in the API), adjusted, (to support the universal searchability) and eventually saved.</p>
      <h4>more information</h4>
      <ul>
        <li><a href="http://docs.archaeologydata.com/" target="_blank">API Documentation</a></li>
        <li>Source code and issue tracker for the API is on <a href="https://github.com/openstate/open-archaeology-data" target="_blank">GitHub</a></li>
      </ul>
      
      <h3>Who?</h3>
      <p>Open Archaeology Data Search is based on <a href="http://search.opencultuurdata.nl/" target="_blank">Open Culture Data Search</a> originally built by Frank Sträter during the Culture Harvest Days in 2014. Frank generously donated his code to the <a href="https://openstate.eu/" target="_blank">Open State Foundation</a> to further improve upon.</p>
    </div>
  </div>
</div>
