  <!--include the navbar-->
  <div ng-include="'app/partials/nav.html'"></div>
    <!--include the bootstrap modal for alerts  -->
  <div ng-include="'app/partials/error.html'"></div>
<div ng-repeat="item in results" ng-controller="ItemCtrl" class="fullheight" >

			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 fullheight" >
			
		        <div class="detail-image-container fullheight">
		        <video  ng-show="showPlayer" width="100%" height="100%" controls poster="{{imgurl}}" preload='none'>
		          <source ng-repeat="source in videosources" src="{{source.url}}" type="{{source.content_type}}">
		     
		          Your browser does not support the video tag.
		        </video>
		        <a ng-hide="showPlayer" href="{{imgurlref}}" class="detail-image" style="background-image: url({{imgurlref}})"></a>
		      </div>
	
		    </div>   

		    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 detail-side-bar">
		      

		        <h4>{{title}}</h4>
		        <p><span title="{{authorhoover}}"> {{author}}<span class="orange">{{authorhooverindicate}}</span></span> {{date}}</p>
		        <p><a href="{{originalCollectionUrl}}">{{collection}}</a></p>
		        <p><small><a href="{{apiUrl}}">{{apiId}}</a></small></p>
		        <p>{{rights}}</p>
		        <p>{{description}}</p>


		    </div>
  		
    



</div>

