<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" ng-controller="leftbarCtrl">
  <h3 class="demo-panel-title">Sources<button  class="btn btn-primary btn-sm pull-right" ng-click="toggle('collection')">{{buttontext['collection']}}</button></h3>
  <div ng-repeat="facet in collection">
    <label class="checkbox" for="{{facet.name}}">
      <input type="checkbox" value="" id="{{facet.name}}" data-toggle="checkbox" ng-model="facet.active" ng-change="updateExcludeList('collection')">
      {{facet.name}} <small class="pull-right">({{facet.count}})</small>
    </label>
  </div>
  <h3 class="demo-panel-title">Filters</h3>
  <h4 class="demo-panel-title">Year 
    <button ng-disabled="filterResetButtonState['date']" class="btn btn-primary btn-xs pull-right" ng-click="resetFilter('date')">reset</button>
  </h4>
  <div range-slider min="date.min" max="date.max" model-min="date.usermin" model-max="date.usermax" on-handle-up="onHandleUp()" show-values="true"></div>
  <br>
  <h4 class="demo-panel-title">Author
    <button ng-disabled="filterResetButtonState['author']" class="btn btn-primary btn-xs pull-right" ng-click="resetFilter('author')">reset</button>
  </h4>
  <div ng-repeat="facet in author">
    <label class="checkbox" for="{{facet.name}}">
      <input type="checkbox" value="" id="{{facet.name}}" data-toggle="checkbox" ng-model="facet.active" ng-change="updateExcludeList('author')">
      {{facet.name}} <small class="pull-right">({{facet.count}})</small>
    </label>
  </div>
  <br>
  <h4 class="demo-panel-title">Rights
    <button ng-disabled="filterResetButtonState['rights']" class="btn btn-primary btn-xs pull-right" ng-click="resetFilter('rights')">reset</button>
  </h4>
  <div ng-repeat="facet in rights">
    <label class="checkbox" for="{{facet.name}}">
      <input type="checkbox" value="" id="{{facet.name}}" data-toggle="checkbox" ng-model="facet.active" ng-change="updateExcludeList('rights')">
      {{facet.name}} <small class="pull-right">({{facet.count}})</small>
    </label>
  </div>
  <br>
  <h4 class="demo-panel-title">Content</h4>
  <label class="checkbox" for="onlyvideo">
   <input type="checkbox" id="onlyvideo" value="" ng-model="videofilter" ng-change="toggleVideo()">
   Video only 
   </label>

</div>
</div>