  <!--include the navbar-->
 <div ng-include="'app/partials/nav.html'"></div>
  
  <!--include the bootstrap modal for alerts  -->
 <div ng-include="'app/partials/error.html'"></div>

<div class="container-fluid">
  <div class="col-xs-12">
    <h1>Open Cultuur data Search</h1>
  </div>
  <div class="col-xs-12">
    Welkom op de open cultuur data zoek pagina, voer hierboven een zoekopdracht in, of klik op één van de voorbeeld zoekopdrachten om gelijk te beginnen.<br><br>
    Op dit moment komen de volgende bronnen voor in de api:<br><br>    
  </div>

  
</div>