  <div ng-swipe-left="closeMenu()" ng-swipe-right="openMenu()">
  <!--include the navbar-->
 <div ng-include="'app/partials/nav.html'"></div>
  
  <!--include the bootstrap modal for alerts  -->
 <div ng-include="'app/partials/error.html'"></div>

<div class="container-fluid" >
<div class="row row-offcanvas row-offcanvas-left">  
  <!--the left bar is included -->
 
   <div ng-include="'app/partials/leftbar.html'"></div>
  <!--the actual body of the page -->
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 content ">
  <button type="button" class="btn btn-primary menubtn" ng-click="showsidebar()">&lt;&lt; Menu</button>
    <!--display the firts paginator-->
    <div class="text-center">
      <ul class="pagination">
        <li ng-repeat="page in paginator" class="{{page.class}}"  ><a href="" ng-click="moveToPage()">{{page.text}}</a></li>
      </ul>
    </div>

    <div class="text-center">
      <div class="modal-dialog" ng-show="loadingView">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">loading...</h4> 
          </div>
        </div>
      </div> 
    </div>

    <!--display the results -->
    <div ng-repeat="item in results" ng-controller="ItemCtrl" class="col-sm-6 col-md-4">
      <div class="thumbnail" >
        <div class="thumb-image-container">
        <video  ng-show="showPlayer" width="100%" height="100%" controls ng-attr-poster="{{imgurl}}" preload='none'>
          <source ng-repeat="source in videosources" src="{{source.url}}" type="{{source.content_type}}">
     
          Your browser does not support the video tag.
        </video>
        <a ng-hide="showPlayer" href="{{detailUrl}}" class="thumb-image" style="background-image: url({{imgurl}})"></a>
      </div>
        <div class="caption">
          <div class="thumb-body"> 
            <a href="{{detailUrl}}"><h4>{{title}}</h4></a>
            <p><span title="{{authorhoover}}"> {{author}}<span class="orange">{{authorhooverindicate}}</span></span> {{date}}</p>
            <p> {{rights.name}} <a ng-show="{{rights.isUrl}}" href="{{rights.Url}}"><span class="glyphicon glyphicon-info-sign" ></span> </a></p>
          </div>
          <div class="thumb-footer"> 
            <p><a href="{{originalCollectionUrl}}">{{collection}}</a></p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="text-center">
      <div class="modal-dialog modal-dialog-bottom" ng-show="loadingView">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">loading...</h4> 
          </div>
        </div>
      </div> 
    </div>

    <!--the pagenation -->
    <div class="text-center">
      <ul class="pagination">
        <li ng-repeat="page in paginator" class="{{page.class}}"  ><a href="" ng-click="moveToPage()">{{page.text}}</a></li>
      </ul>
    </div>

  </div>
</div>
</div>
</div>
</div>
