<div class="container-fluid">
  
  <!--the left bar is included -->
  <div ng-include="'app/partials/leftbar.html'"></div>
  
  <!--the actual body of the page -->
  <div class="col-xs-10">
    <!--display the firts paginator-->
    <div class="text-center">
      <ul class="pagination">
        <li ng-repeat="page in paginator" class="{{page.class}}"  ><a href="" ng-click="moveToPage()">{{page.text}}</a></li>
      </ul>
    </div>

    <div class="text-center">
      <div class="modal-dialog" ng-show="loadingView">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">loading...</h4> 
          </div>
        </div>
      </div> 
    </div>

    <!--display the results -->
    <div ng-repeat="item in results" ng-controller="ItemCtrl" class="col-sm-6 col-md-4">
      <div class="thumbnail" >
        <a href="{{imgurlref}}" class="thumb-image" style="background-image: url({{imgurl}})"></a>
        <div class="caption">
          <div class="thumb-body"> 
            <h4>{{title}}</h4>
            <p><span title="{{authorhoover}}"> {{author}}<span class="orange">{{authorhooverindicate}}</span></span> {{date}}</p>
            <p>{{rights}}</p>
          </div>
          <div class="thumb-footer">  
            <hr>
            <p><a href="{{originalCollectionUrl}}">{{collection}}</a></p>
            <p><small><a href="{{apiUrl}}">{{apiId}}</a></small></p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="text-center">
      <div class="modal-dialog modal-dialog-bottom" ng-show="loadingView">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">loading...</h4> 
          </div>
        </div>
      </div> 
    </div>

    <!--the pagenation -->
    <div class="text-center">
      <ul class="pagination">
        <li ng-repeat="page in paginator" class="{{page.class}}"  ><a href="" ng-click="moveToPage()">{{page.text}}</a></li>
      </ul>
    </div>

  </div>
</div>
</div>

