  <!--include the navbar-->
  <div ng-include="'app/partials/nav.html'"></div>
  
  <!--include the bootstrap modal for alerts  -->
  <div ng-include="'app/partials/error.html'"></div>

  <div class="container-fluid">

    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 ">
      <img src="app/img/OPEN-STATE-logo-CMYK-blue.png" class="pull-right" style="width:100px; height:66px"></img>
      <h2>Route not found</h2>
      
      <p>this route is not in use.</p>
      
      <div ng-show="usedPage">
        <p>Looks like you used a page in the url, wich is no longer in use, try without:<br>
        <a href="{{newUrl}}">{{newUrl}}</a>
        </p>

      </div>
      Go to <a href="#/">Home</a>


    </div>
  </div>
</div>